
    {% if tasks %}
    <div class="grid sm:grid-cols-2 sm:gap-x-3 lg:grid-cols-3 mt-[20px]">
        {% for task in tasks %}
        <div class="mb-6 rounded-lg {% if task.priority == 'high' %} bg-red-400 {% elif task.priority == 'medium' %} bg-green-400 {% else %} bg-blue-400 {% endif %} p-6">
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <div class="mr-2 size-10 rounded-full object-cover text-white border border-white flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 7.5h-.75A2.25 2.25 0 0 0 4.5 9.75v7.5a2.25 2.25 0 0 0 2.25 2.25h7.5a2.25 2.25 0 0 0 2.25-2.25v-7.5a2.25 2.25 0 0 0-2.25-2.25h-.75m0-3-3-3m0 0-3 3m3-3v11.25m6-2.25h.75a2.25 2.25 0 0 1 2.25 2.25v7.5a2.25 2.25 0 0 1-2.25 2.25h-7.5a2.25 2.25 0 0 1-2.25-2.25v-.75" />
                </svg>
              </div>
              <div>
                <h3 class="text-base font-semibold text-white">{{task.subject|slice:"18"}}...</h3>
                <span class="block text-xs font-normal text-gray-100">{{task.assigned_to}}</span>
              </div>
            </div>
            <div class="flex gap-1">
  
              
                 <a href="{% url 'complete' task.id %}" hx-boost="true" class="rounded-full size-[30px]">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </a>
                  
                 </button>
                 <a href="{% url 'delete' task.id %}" hx-boost="true" class="rounded-full size-[30px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-white">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
              </a>
                
            </div>
          </div>
          <p class="my-6 text-sm font-normal text-gray-100">{{task.notes|slice:"55"}}...</p>
          <div class="mt-6 flex items-center justify-between text-sm font-semibold text-gray-900">
            <div class="flex">
              
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mr-1 size-5 font-bold text-gray-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
              </svg>
              
              <span class="mr-1 text-white">{{task.priority|upper}} Priority</span>
            </div>
            <div class="flex items-center">
  
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-1 text-gray-100">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
              </svg>
              
             <div class="flex flex-row gap-3 justify-center items-center"> 
             <p class="text-white">{{ task.due_date|date:"j F, Y" }}</p>
             <p class="text-white flex flex-row gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
              </svg>
              {% now "Y-m-d" as today %}
              {% if task.is_completed %}
  
               Completed
  
               {% elif task.is_completed == False and task.due_date != today %}
  
               Pending
  
               {% elif task.is_completed == False and task.due_date > today %}
  
               Overdue
              
              {% endif %}
  
            </p>
            </div>
            </div>
          </div>
        </div>
        {% endfor %}
  
      </div>

    {% else %}

    <h3 class="text-center mt-[30px] text-blue-300 font-bold"> No Results Found </h3>

    {% endif %}
   